<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Turkish Cook </title>
        <link rel="stylesheet" href ="/public/css/style.css">
    </head>

    <div id="page">
        <!--FOR TRANSPARENT HEADER-->
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <!--mobile (xs) and desktop(md) screen size-->
                    <div class="col-md-4 col-xs-6"></div>
                <div class="col-md-8 col-xs-6">
                    <ul>
                        <li class="has-dropdown">
                            <a href="/recipes">Recipes</a>
                            <ul class="dropdown">
                                <li><a href="/recipes/category/Soups">Soups</a></li>
                                <li><a href="/recipes/category/Appetizers">Appetizers</a></li>
                                <li><a href="/recipes/category/Entree">Entree</a></li>
                                <li><a href="/recipes/category/Desserts">Desserts</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>
        <body>
          
        </body>
    </div>
</html>