<div class ="row">
    <div class="fh5co-tabs animate-box">
        <ul class="fh5co-tab-nav">
            <li><a href="/recipes">View All</a></li>
            <li><a href="/recipes/category/Soups">Soups</a></li>
            <li><a href="/recipes/category/Appetizers">Appetizers</a></li>
            <li><a href="/recipes/category/Entree">Entree</a></li>
            <li><a href="/recipes/category/Desserts">Desserts</a></li>
        </ul>
        <div class="row">
            <div class="tab-content">
                <div class="row"></div>
            </div>
        </div>
    </div>
</div>