<link rel="stylesheet" href ="/public/css/style.css">
<aside id="fh5co-hero">
    <div class="hero-banner jumbotron jumbotron-fluid">
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="desc">
                    <p>Follow us to make and taste delicious Turkish Food delicacies!!</p>
                </div>
            </div>
        </div>
    </div>