<div class="container">

    <h2>{{Recipes.title}}</h2>
</div>
<div class="row">
    <div class="desc">
        <h3>Ingredients</h3>
        <p>{{recipe.ingredients}}</p>
    </div>
    <div class="desc">
        <h3>Preperations</h3>
            <p>{{recipe.preperations}}</p>
    </div>
</div>
